.idea/
.ipynb_checkpoints/
__pycache__/
resources/Archive/
resources/Egg-production/
resources/Pea-production/
resources/Pea-production-newstyle/__calculation__/
resources/Pea-production-newstyle/__process-hierarchy__/
resources/Pea-production-newstyle/__replication__/
resources/CRSC_Barley_No_SOC/
resources/CRSC_Barley_No_SOC-simplified/__calculation__/
resources/Source/
archive/
autoLCA.egg-info/
LCAutomate.egg-info/
build/
dist/
myscript.egg-info/
venv_path.txt
autolca.zip
error_out.txt
prog.py
setup-old.sh
test.json
~$*.xlsx
state.dat
zenml/
*.pkl
kedro/spaceflights-pandas/
kedro/lcautomate-framework/data/
kedro/lcautomate-framework/.viz/
kedro/lcautomate-framework/conf/local/credentials.yml
kedro/lcautomate-framework/info.log
